 <!--User Header-->
<section class="py-3 pl-3 has-background-black container-spacing">
      <div>
           <a id="home-button"><img src="/images/des/MwF-logo-hor-des.png" alt="Movies with Friends" height="100px"></a>
      </div>
      <div>
       <h3 class="is-size-4  has-text-light">Welcome, <!--Replace programmatically with user avatar--><i class="fa-solid fa-ticket"></i>&emsp;<img src="{{user.user_avatar}}" alt="user avatar" class="inline-image" /> <span class= "chennai">{{ user.user_name }}!</span></h3>
      </div>
      <!--NAVIGATION FOR ALL NON-LANDING PAGES-->
      <nav class="navbar main-menu">
            <div class="container">
            <div class="navbar-brand">
                  <span class="navbar-burger has-text-light" data-target="navbarMenuMain">
                  <span></span>
                  <span></span>
                  <span></span>
                  </span>
            </div>
            <div id="navbarMenuMain" class="navbar-menu has-text-light">
                  <div class="navbar-end">
                         <!--***ROUTE*** render the welcome view-->
                        <a id="goto-welcome" class="navbar-item"> This Month</a>
                        <!--***ROUTE*** render the profile view-->
                        <a id="goto-profile" class="navbar-item"> My Profile</a>
                        <!--***ROUTE*** render the friends view-->
                        <a id="goto-friends" class="navbar-item">Friends</a>
                        <!--***ROUTE*** render the about view-->
                        <a id="goto-about" class="navbar-item">About Movies with Friends</a>
                        <!--***ROUTE*** render the contact view-->
                        <a id="goto-contact" class="navbar-item">Contact Us</a>
                        <!--***ROUTE*** sign out the user-->
                        <a id="sign-out" class="navbar-item">Sign Out</a>
                  </div>
            </div>
            </div>
      </nav>
</section>